.navbar {
    background-color: var(--dark);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    color: var(--main-red);
    transition: 0.4s;
}

.nav-item .nav-link {
    color: var(--main-white);
}

.bag {
    position: relative;
    display: flex;
}

.bag span {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(140%, 2px);
    width: 20px;
    height: 20px;
    background-color: var(--main-white);
    color: var(--main-red);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}